.first-impression {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  line-height: 1rem;
}


.hero-image {
  width: 100%;
  height: auto;
  display: block;
}

.description {
  font-size: 1.2rem;
  margin-top: 1rem;
  padding: 0 1rem;
  max-width: 800px;
  line-height: 1rem;
}

/* Mobile */
@media (max-width: 600px) {
  .description {
    font-size: 1rem;
  }
}